.thumbnail {
    padding:0px;
}
.panel {
    position:relative;
}
.panel>.panel-heading:after,.panel>.panel-heading:before{
    position:absolute;
    top:11px;left:-16px;
    right:100%;
    width:0;
    height:0;
    display:block;
    content:" ";
    border-color:transparent;
    border-style:solid solid outset;
    pointer-events:none;
}
.panel>.panel-heading:after{
    border-width:7px;
    border-right-color:#f7f7f7;
    margin-top:1px;
    margin-left:2px;
}
.panel>.panel-heading:before{
    border-right-color:#ddd;
    border-width:8px;
}
.success-transition {
    transition: all .4s ease-in-out;
}
.success-enter, .success-leave {
    opacity: 0;
}
#comment-box-input {
    margin-bottom: 5%;
}
#comment-box-input img {
    margin-top: -7%;
}
#comment-box-input button {
    float: right;
    background-color: #00a0df;
}
#comment-box-input .alert-success {
    float: right;
    font-size: 12px;
    background-color: #00cc66;
    color: #0000AA;
}